[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-testmon = "*"
pytest-watch = "*"
coverage = "*"
pylint = "*"
pylint-flask = "*"
pytest-cov = "*"

[packages]
flask = "*"
python-dotenv = "*"
waitress = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
setup = "pipenv install --dev"
clean = "rm -rf .pytest_cache .tmontmp .coverage .testmondata htmlcov"
init-db = "sh -c 'FLASK_APP=flaskr pipenv run flask init-db'"
app-prod = "waitress-serve --call 'flaskr:create_app'"
app-watch = "sh -c 'FLASK_APP=flaskr pipenv run flask run'"
test = "pytest"
test-watch = "ptw -- --testmon --cov"
cov = "coverage run -m pytest"
cov-report = "sh -c 'pipenv run cov && coverage report'"
cov-html = "sh -c 'pipenv run cov && coverage html && open htmlcov/index.html'"
