[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-testmon = "*"
pytest-watch = "*"
coverage = "*"
pylint = "*"
pylint-flask = "*"

[packages]
flask = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
setup = "pipenv install --dev"
app = "flask run --host=0.0.0.0"
test = "pytest"
cov = "coverage run -m pytest"
cov_report = "coverage report"